<form [formGroup]="EmpleadoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Empleado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!this.eliminar; else elseTemplate1">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field >
              <input matInput placeholder="Codigo" formControlName="codigo">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Salario" formControlName="salario">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Creado Por" formControlName="creado_por">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate1>
        <div class="row text-center">
          <div class="col">
            <strong>
              {{mensajeEliminar}}
            </strong>

          </div>
        </div>

      </ng-template>





    </mat-card-content>
    <ng-container *ngIf="this.cancelar; else elseTemplate">
      <div class="row">
        <div class="col-sm 6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
        <div class="col-sm-6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" (click)="OnCancelar()" type="button">CANCELAR</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="row">
        <div class="col-sm-12">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>{{meessage}}</h1>
      </div>
    </div>
  </mat-card>
</form>
<br>
<ng-container *ngIf="OnCargar(); else elseTemplate2">
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table"  [dataSource]="dataSource" matSort aria-label="Elements">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
        <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
      </ng-container>

      <ng-container matColumnDef="salario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salario</th>
        <td mat-cell *matCellDef="let row">{{row.salario}}</td>
      </ng-container>

      <ng-container matColumnDef="creado_por">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado Por</th>
        <td mat-cell *matCellDef="let row">{{row.creado_por}}</td>
      </ng-container>


      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary"  (click)="Onobtener(row)" type="submit">EDITAR</button></td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
        <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary"  (click)="OnEliminar(row)" type="submit">ELIMINAR</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>


</ng-container>
<ng-template #elseTemplate2>
  <div class="row">
    <div class="col-sm-12">
      <center>
        <mat-spinner></mat-spinner>
      </center>
    </div>
  </div>
</ng-template>

